&-navbar {
  height: $heightNavigationBar;
  background-color: $whiteColor;
  position: sticky;
  bottom: 0;
  display: flex;
  gap: 10px;

  &-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;

    img {
      width: 25px;
    }
  }

  &-item-active {
    background-color: $mainColor;

    img {
      filter: brightness(0) invert(1);
    }
  }
}