&-setting {

  &-container {
    padding: 16px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 24px;
  }
  
  &-container:first-child {
    padding: unset;
    padding-top: 16px;
  }

  &-user {
    background: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &-avatar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &-id {
      color: $greyColor;
      font-size: 12px;
      display: flex;
      gap: 5px;

      img {
        width: 15px;
        cursor: pointer;
      }
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      padding: 16px;
      position: relative;
      display: flex;
      flex-direction: row;
      cursor: pointer;

      &-right {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }

      &-content {
        flex: 1;
        word-wrap: anywhere;
      }

      &-suffix {
        margin-left: 16px;
      }
    }

    // &-item:not(:last-child) {
    //   margin-bottom: 24px;
    // }

    &-item:active {
      background-color: $mainColor;
      color: $whiteColor;
  
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}